# Our mandatory packages for PLC and Pylon camera
python-snap7==0.10
https://github.com/basler/pypylon/releases/download/1.4.0/pypylon-1.4.0-cp36-cp36m-linux_x86_64.whl
#https://github.com/basler/pypylon/releases/download/1.4.0/pypylon-1.4.0-cp35-cp35m-linux_x86_64.whl
#https://github.com/basler/pypylon/releases/download/1.4.0/pypylon-1.4.0-cp37-cp37m-linux_x86_64.whl
pyzbar
numpy
imutils

# AI stuff
tensorflow==2.5.0

# Useful packages
timeout-decorator==0.4.1
tenacity==5.0.3
sentry-sdk==0.7.9

# Testing
pytest
pytest-mock

# Azure stuff
azure
